body {
  margin: 0;
  font-family: sans-serif;
}
#map {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.title {
  position: absolute;
  font-size: 88px;
  z-index: 1;
  top: 100px;
  left: 100px;
  color: #333333;
  text-transform: uppercase;
  font-weight: bold;
}
